@import '../../styles/variables';

nav.navigation {

    background-color: $highlight;

    padding: 1% 1% 1% 1%;

    a{
        margin: 10px 10px 10px 10px;
        text-decoration: none;
        font-size: 1.2em;
    }
    a:hover{
        background-color: $dark;
        color: $primary;
    }
    a:link{
        color: $primary;
    }
    a:visited{
        color: $darktext;
    }
    a:active{
        color: $tertiary;
    }

}